@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Demo Application</h1>
<img src="~/images/cvn-se06204.png" width="300" height="300" />